.item_container{

}

.item_div {
	background-color: #cce8d0;
	margin-bottom : 10px;
	margin-top : 10px;	
	border-style: solid;
	border-width: thin;
	border-radius: 0.5em;
	width: 100%;
	text-align: left;
}

.item_text {
	width: 20%;
	display: inline-block;

}
